<header class="site-header">
<h1 > Sogol Maghzian || Sunny Macaw  || ITIS 3135 </h1>
    <nav>
    <a href="./">Home</a>
    ||
    <a href="introduction.html">Introduction</a>
    ||
    <a href="contract.html">Contract</a>
    ||
    <a href="fccfsjs_outline.html">FCC FS JS Outline</a>
    ||
    <a href="./intro_form.html">Introduction Form</a>

    </nav>
 
<hr>

    <!-- Secondary nav (what the rubric wants) -->
  <nav class="nav-secondary" aria-label="Secondary nav – different-style sites">

      <a href="index.html">Hobby Site</a>
      ||
      <a href="/mascot/about.html">Mascot</a>
      ||
      <a href="/itis3135/website_evaluations.html">Website Evaluations</a>
    
  </nav>
</header>
   
