<header class="site-header">
<h1 > Sogol Maghzian || Sunny Macaw  || ITIS 3135 </h1>
    <nav>
    <a href="./">Home</a>
    ||
    <a href="introduction.html">Introduction</a>
    ||
    <a href="contract.html">Contract</a>
    ||
    <a href="fccfsjs_outline.html">FCC FS JS Outline</a>
    ||
    <a href="./intro_form.html">Client Project</a>
    ||
    <a href="./project_overview.html">Project Overview</a>

    </nav>
 
<hr>

    <!-- Secondary nav -->
  <nav class="nav-secondary" aria-label="Secondary – different style sites">
    <a href="/~smaghzia/itis3135/hobby/index.html">Hobby Site</a> ||
    <a href="/~smaghzia/mascot/about.html">Mascot</a> ||
    <a href="/~smaghzia/itis3135/website_evaluations.html">Website Evaluations</a> ||
    <a href="/~smaghzia/itis3135/stuff/SUPER 🙂 PAGE.htm">Crappy Site</a> 
  </nav>
</header>
   
